html{
    font-size: 20px;
}

.wrap_block{
    border: 1px solid #000;
    font-size: 10px;
}

// rem зависят от font-size - в html
.block {
    height: 3rem;
    width: 300px;
    background: green;
}